.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(230, 230, 230);
}

.blog .post{
    width: 660px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.blog .post ol{
    margin-left: 20px;
}

.header {
    width: 650px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    font-size: 34px;
    font-weight: bold;
    resize: none;
    color: #2f5dc0;
}