.visits{
    display: flex;
    width: 100%;
    
}

.visits .students{
    width: 100%;
    margin-left: 100px;
}

.info{
    display: flex;
}

.info p{
    font-size: 25px;
    margin-right: 10px;
}


.studentsTitle,.teachersTitle{
    font-size: 22px;
}

.studentsContainer,.teachersContainer{
    margin-top: 10px;
    width: 50%;
}

.student,.teacher{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.studentLink,.teacherLink{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px gray solid;
    border-radius: 50%;
    background: white;
}

.select{
    width: 40%
}

.select div{
    font-size: 14px;
}

.dateRange{
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.dateRange .arrow{
    width: 20%;
    height: 100%;
    cursor: pointer;
    background: rgb(44,43,124);
    color: white;
    font-weight: bold;
    border: none;
}

.dateRange .date{
    width: 60%;
    display: flex;
    justify-content: center;
}

.visits  .appointments{
    width: 300px;
    height: 80%;
    margin-top: 20px;
}

.visits .appointments .noAppointments{
    width: 100%;
    display: flex;
    justify-content: center;
}

.visits .appointments .appointment{
    display: flex;
    width: 100%;
    background: white;
    padding: 15px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px transparent solid;
}
.visits .appointments .appointment:hover{
    border: 1px rgb(44,43,124) solid;
}

.visits .appointments .appointment + .appointment{
    margin-top: 10px;
}

.visits .appointments .appointment .startDate{
    margin-right: 10px;
}